In [81]:
import pandas as pd
import sklearn

filepath = "GroupExam2024_data_and_documentation/elektronisk-rapportering-ers-2018-fangstmelding-dca-simple.csv"

df = pd.read_csv(filepath, sep=';')
print(df.head)

<bound method NDFrame.head of         Melding ID Meldingstidspunkt Meldingsdato Meldingsklokkeslett  \
0          1497177        01.01.2018   01.01.2018               00:00
1          1497178        01.01.2018   01.01.2018               00:00
2          1497178        01.01.2018   01.01.2018               00:00
3          1497178        01.01.2018   01.01.2018               00:00
4          1497178        01.01.2018   01.01.2018               00:00
...            ...               ...          ...                 ...
305429     1800291  01.01.2019 09:28   01.01.2019               09:28
305430     1800291  01.01.2019 09:28   01.01.2019               09:28
305431     1800291  01.01.2019 09:28   01.01.2019               09:28
305432     1800291  01.01.2019 09:28   01.01.2019               09:28
305433     1800291  01.01.2019 09:28   01.01.2019               09:28

          Starttidspunkt   Startdato Startklokkeslett Startposisjon bredde  \
0             31.12.2017  31.12.2017            00:00               -60,35
1       30.12.2017 23:21  30.12.2017            23:21               74,885
2       30.12.2017 23:21  30.12.2017            23:21               74,885
3       30.12.2017 23:21  30.12.2017            23:21               74,885
4       30.12.2017 23:21  30.12.2017            23:21               74,885
...                  ...         ...              ...                  ...
305429  31.12.2018 19:41  31.12.2018            19:41               76,906
305430  31.12.2018 19:41  31.12.2018            19:41               76,906
305431  31.12.2018 19:41  31.12.2018            19:41               76,906
305432  31.12.2018 19:41  31.12.2018            19:41               76,906
305433  31.12.2018 19:41  31.12.2018            19:41               76,906

       Startposisjon lengde  Hovedområde start (kode)  ...        Art - FDIR  \
0                   -46,133                       NaN  ...  Antarktisk krill
1                    16,048                      20.0  ...              Hyse
2                    16,048                      20.0  ...             Torsk
3                    16,048                      20.0  ...         Blåkveite
4                    16,048                      20.0  ...               Sei
...                     ...                       ...  ...               ...
305429               12,709                      21.0  ...       Gråsteinbit
305430               12,709                      21.0  ...      Uer (vanlig)
305431               12,709                      21.0  ...     Flekksteinbit
305432               12,709                      21.0  ...         Snabeluer
305433               12,709                      21.0  ...         Blåkveite

        Art - gruppe (kode)      Art - gruppe  Rundvekt Lengdegruppe (kode)  \
0                     506.0  Antarktisk krill  706714.0                 5.0
1                     202.0              Hyse    9594.0                 5.0
2                     201.0             Torsk    8510.0                 5.0
3                     301.0         Blåkveite     196.0                 5.0
4                     203.0               Sei     134.0                 5.0
...                     ...               ...       ...                 ...
305429                304.0        Steinbiter     145.0                 5.0
305430                302.0               Uer     136.0                 5.0
305431                304.0        Steinbiter     132.0                 5.0
305432                302.0               Uer     102.0                 5.0
305433                301.0         Blåkveite      63.0                 5.0

        Lengdegruppe  Bruttotonnasje 1969  Bruttotonnasje annen Bredde  \
0       28 m og over               9432.0                   NaN  19,87
1       28 m og over               1476.0                   NaN   12,6
2       28 m og over               1476.0                   NaN   12,6
3       28 m og over               1476.0                   NaN   12,6
4       28 m og over               1476.0                   NaN   12,6
...              ...                  ...                   ...    ...
305429  28 m og over               1483.0                   NaN   12,6
305430  28 m og over               1483.0                   NaN   12,6
305431  28 m og over               1483.0                   NaN   12,6
305432  28 m og over               1483.0                   NaN   12,6
305433  28 m og over               1483.0                   NaN   12,6

       Fartøylengde
0            133,88
1              56,8
2              56,8
3              56,8
4              56,8
...             ...
305429         57,3
305430         57,3
305431         57,3
305432         57,3
305433         57,3

[305434 rows x 45 columns]>

In [82]:
print (df)

        Melding ID Meldingstidspunkt Meldingsdato Meldingsklokkeslett  \
0          1497177        01.01.2018   01.01.2018               00:00
1          1497178        01.01.2018   01.01.2018               00:00
2          1497178        01.01.2018   01.01.2018               00:00
3          1497178        01.01.2018   01.01.2018               00:00
4          1497178        01.01.2018   01.01.2018               00:00
...            ...               ...          ...                 ...
305429     1800291  01.01.2019 09:28   01.01.2019               09:28
305430     1800291  01.01.2019 09:28   01.01.2019               09:28
305431     1800291  01.01.2019 09:28   01.01.2019               09:28
305432     1800291  01.01.2019 09:28   01.01.2019               09:28
305433     1800291  01.01.2019 09:28   01.01.2019               09:28

          Starttidspunkt   Startdato Startklokkeslett Startposisjon bredde  \
0             31.12.2017  31.12.2017            00:00               -60,35
1       30.12.2017 23:21  30.12.2017            23:21               74,885
2       30.12.2017 23:21  30.12.2017            23:21               74,885
3       30.12.2017 23:21  30.12.2017            23:21               74,885
4       30.12.2017 23:21  30.12.2017            23:21               74,885
...                  ...         ...              ...                  ...
305429  31.12.2018 19:41  31.12.2018            19:41               76,906
305430  31.12.2018 19:41  31.12.2018            19:41               76,906
305431  31.12.2018 19:41  31.12.2018            19:41               76,906
305432  31.12.2018 19:41  31.12.2018            19:41               76,906
305433  31.12.2018 19:41  31.12.2018            19:41               76,906

       Startposisjon lengde  Hovedområde start (kode)  ...        Art - FDIR  \
0                   -46,133                       NaN  ...  Antarktisk krill
1                    16,048                      20.0  ...              Hyse
2                    16,048                      20.0  ...             Torsk
3                    16,048                      20.0  ...         Blåkveite
4                    16,048                      20.0  ...               Sei
...                     ...                       ...  ...               ...
305429               12,709                      21.0  ...       Gråsteinbit
305430               12,709                      21.0  ...      Uer (vanlig)
305431               12,709                      21.0  ...     Flekksteinbit
305432               12,709                      21.0  ...         Snabeluer
305433               12,709                      21.0  ...         Blåkveite

        Art - gruppe (kode)      Art - gruppe  Rundvekt Lengdegruppe (kode)  \
0                     506.0  Antarktisk krill  706714.0                 5.0
1                     202.0              Hyse    9594.0                 5.0
2                     201.0             Torsk    8510.0                 5.0
3                     301.0         Blåkveite     196.0                 5.0
4                     203.0               Sei     134.0                 5.0
...                     ...               ...       ...                 ...
305429                304.0        Steinbiter     145.0                 5.0
305430                302.0               Uer     136.0                 5.0
305431                304.0        Steinbiter     132.0                 5.0
305432                302.0               Uer     102.0                 5.0
305433                301.0         Blåkveite      63.0                 5.0

        Lengdegruppe  Bruttotonnasje 1969  Bruttotonnasje annen Bredde  \
0       28 m og over               9432.0                   NaN  19,87
1       28 m og over               1476.0                   NaN   12,6
2       28 m og over               1476.0                   NaN   12,6
3       28 m og over               1476.0                   NaN   12,6
4       28 m og over               1476.0                   NaN   12,6
...              ...                  ...                   ...    ...
305429  28 m og over               1483.0                   NaN   12,6
305430  28 m og over               1483.0                   NaN   12,6
305431  28 m og over               1483.0                   NaN   12,6
305432  28 m og over               1483.0                   NaN   12,6
305433  28 m og over               1483.0                   NaN   12,6

       Fartøylengde
0            133,88
1              56,8
2              56,8
3              56,8
4              56,8
...             ...
305429         57,3
305430         57,3
305431         57,3
305432         57,3
305433         57,3

[305434 rows x 45 columns]

In [83]:
df.head()

,Melding ID,Meldingstidspunkt,Meldingsdato,Meldingsklokkeslett,Starttidspunkt,Startdato,Startklokkeslett,Startposisjon bredde,Startposisjon lengde,Hovedområde start (kode),...,Art - FDIR,Art - gruppe (kode),Art - gruppe,Rundvekt,Lengdegruppe (kode),Lengdegruppe,Bruttotonnasje 1969,Bruttotonnasje annen,Bredde,Fartøylengde
0,1497177,01.01.2018,01.01.2018,00:00,31.12.2017,31.12.2017,00:00,"-60,35","-46,133",NaN,...,Antarktisk krill,506.0,Antarktisk krill,706714.0,5.0,28 m og over,9432.0,NaN,"19,87","133,88"
1,1497178,01.01.2018,01.01.2018,00:00,30.12.2017 23:21,30.12.2017,23:21,"74,885","16,048",20.0,...,Hyse,202.0,Hyse,9594.0,5.0,28 m og over,1476.0,NaN,"12,6","56,8"
2,1497178,01.01.2018,01.01.2018,00:00,30.12.2017 23:21,30.12.2017,23:21,"74,885","16,048",20.0,...,Torsk,201.0,Torsk,8510.0,5.0,28 m og over,1476.0,NaN,"12,6","56,8"
3,1497178,01.01.2018,01.01.2018,00:00,30.12.2017 23:21,30.12.2017,23:21,"74,885","16,048",20.0,...,Blåkveite,301.0,Blåkveite,196.0,5.0,28 m og over,1476.0,NaN,"12,6","56,8"
4,1497178,01.01.2018,01.01.2018,00:00,30.12.2017 23:21,30.12.2017,23:21,"74,885","16,048",20.0,...,Sei,203.0,Sei,134.0,5.0,28 m og over,1476.0,NaN,"12,6","56,8"

In [84]:
collumns_to_drop = ["Startklokkeslett","Startdato","Stoppdato","Stoppklokkeslett","Meldingstidspunkt","Meldingstidspunkt","Meldingsklokkeslett","Meldingsdato","Meldingsdato" ]
df.drop(collumns_to_drop, inplace=True, axis=1) 

df.head()
#if you want to save the csv after dropped collumns then uncomment under and run all
# df.to_csv('fishdata.csv', index=False, encoding='iso-8859-1')

Dropping columns: We dropped the selected collumns due to redundant data. Such as startklokkeslet, startdato, stopklokkeslet, stopdato all being contained in Starttidspunkt and Stopptidspunkt.

We also dropped message data due to when the report was sent and recieved being irrelevant for fish related data.

df to csv: We can export a CSV file with dropped collumns so it becomes easier to see what we're working with. the encoding enables ÆØÅ which is very nice. It also exports the csv in a way which has seperated column names for each value, unlike the original dataset which has all column names in the same column. TL;DR It makes reading our dataset easier.

In [85]:
df.dtypes

Melding ID                    int64
Starttidspunkt               object
Startposisjon bredde         object
Startposisjon lengde         object
Hovedområde start (kode)    float64
Hovedområde start            object
Lokasjon start (kode)       float64
Havdybde start                int64
Stopptidspunkt               object
Varighet                      int64
Fangstår                      int64
Stopposisjon bredde          object
Stopposisjon lengde          object
Hovedområde stopp (kode)    float64
Hovedområde stopp            object
Lokasjon stopp (kode)       float64
Havdybde stopp                int64
Trekkavstand                float64
Redskap FAO (kode)           object
Redskap FAO                  object
Redskap FDIR (kode)         float64
Redskap FDIR                 object
Hovedart FAO (kode)          object
Hovedart FAO                 object
Hovedart - FDIR (kode)      float64
Art FAO (kode)               object
Art FAO                      object
Art - FDIR (kode)           float64
Art - FDIR                   object
Art - gruppe (kode)         float64
Art - gruppe                 object
Rundvekt                    float64
Lengdegruppe (kode)         float64
Lengdegruppe                 object
Bruttotonnasje 1969         float64
Bruttotonnasje annen        float64
Bredde                       object
Fartøylengde                 object
dtype: object